In [2]:
import pandas as pd

In [3]:
students_data_path = "Desktop/UCFLM201907DATA2/04-Pandas/Instructions/PyCitySchools/Resources/students_complete.csv"
schools_data_path = "Desktop/UCFLM201907DATA2/04-Pandas/Instructions/PyCitySchools/Resources/schools_complete.csv"

students_df = pd.read_csv(students_data_path, encoding = "utf-8")

schools_df = pd.read_csv(schools_data_path, encoding = "utf-8")

In [12]:
# Total Schools
school_count = len(schools_df["school_name"])

# Total Students

student_count = len(students_df["student_name"])

# Total Budget

total_budget = schools_df["budget"].sum()

# Average Math Score

avg_math_score = students_df["math_score"].mean()

# Average Reading Score

avg_reading_score = students_df["reading_score"].mean()

# % Passing Math

passing_math = students_df.loc[(students_df["math_score"] >= 70)]
total_passing_math = len(passing_math)
percent_passing_math = (total_passing_math / student_count) * (100)

# % Passing Reading

passing_reading = students_df.loc[(students_df["reading_score"] >= 70)]
total_passing_reading = len(passing_reading)
percent_passing_reading = (total_passing_reading / student_count) * (100)

# Overall Passing Rate (Average of the two above)

overall_passing_rate = (percent_passing_math + percent_passing_reading)/2

In [4]:
# Placing all of the data found into a summary dataframe
summary_table = pd.DataFrame({"Total Schools": [school_count], "Total Students": [student_count], "Total Budget": [total_budget],"Average Math Score":[avg_math_score],"Average Reading Score":[avg_reading_score],"% Passing Math": [percent_passing_math],"% Passing Reading":[percent_passing_reading],"Overall Passing Rate":[overall_passing_rate]})

In [8]:
#Merging the two csv's

students_schools_df = pd.merge(schools_df,students_df,how="right")

In [9]:
#Per student budget

per_student_budget = schools_df["budget"] / schools_df["size"]

In [10]:
#Average math score per school

avg_pyschool_data = students_schools_df.groupby(["school_name"]).mean() 
avg_math_score_per_school = avg_pyschool_data["math_score"]

In [11]:
#Average reading score per school

avg_reading_score_per_school = avg_pyschool_data["reading_score"]

In [23]:
total_passing_math = passing_math["school_name"].value_counts()
total_passing_math

Bailey High School       3318
Johnson High School      3145
Hernandez High School    3094
Rodriguez High School    2654
Wilson High School       2143
Figueroa High School     1946
Huang High School        1916
Ford High School         1871
Cabrera High School      1749
Wright High School       1680
Shelton High School      1653
Thomas High School       1525
Griffin High School      1371
Pena High School          910
Holden High School        395
Name: school_name, dtype: int64

In [24]:
total_passing_reading = passing_reading["school_name"].value_counts()
total_passing_reading

Bailey High School       4077
Johnson High School      3867
Hernandez High School    3748
Rodriguez High School    3208
Figueroa High School     2381
Huang High School        2372
Wilson High School       2204
Ford High School         2172
Cabrera High School      1803
Wright High School       1739
Shelton High School      1688
Thomas High School       1591
Griffin High School      1426
Pena High School          923
Holden High School        411
Name: school_name, dtype: int64

In [37]:
size = students_df["school_name"].value_counts()

mat

Bailey High School       4976
Johnson High School      4761
Hernandez High School    4635
Rodriguez High School    3999
Figueroa High School     2949
Huang High School        2917
Ford High School         2739
Wilson High School       2283
Cabrera High School      1858
Wright High School       1800
Shelton High School      1761
Thomas High School       1635
Griffin High School      1468
Pena High School          962
Holden High School        427
Name: school_name, dtype: int64

In [27]:
# Percent passing math per school

per_passing_math = (total_passing_math / size) * 100

In [28]:
#Percent passing reading per school 

per_passing_reading = (total_passing_reading / size) * 100

In [29]:
# Overall passer rate per school

overall_passing = (per_passing_math + per_passing_reading) / 2

In [18]:
averages_read_math = pd.merge(avg_math_score_per_school,avg_reading_score_per_school, on="school_name")

In [19]:
results = pd.merge(schools_df,averages_read_math,on="school_name")
results

,School ID,school_name,type,size,budget,math_score,reading_score
0,0,Huang High School,District,2917,1910635,76.629414,81.182722
1,1,Figueroa High School,District,2949,1884411,76.711767,81.158020
2,2,Shelton High School,Charter,1761,1056600,83.359455,83.725724
3,3,Hernandez High School,District,4635,3022020,77.289752,80.934412
4,4,Griffin High School,Charter,1468,917500,83.351499,83.816757
5,5,Wilson High School,Charter,2283,1319574,83.274201,83.989488
6,6,Cabrera High School,Charter,1858,1081356,83.061895,83.975780
7,7,Bailey High School,District,4976,3124928,77.048432,81.033963
8,8,Holden High School,Charter,427,248087,83.803279,83.814988
9,9,Pena High School,Charter,962,585858,83.839917,84.044699
10,10,Wright High School,Charter,1800,1049400,83.682222,83.955000
11,11,Rodriguez High School,District,3999,2547363,76.842711,80.744686
12,12,Johnson High School,District,4761,3094650,77.072464,80.966394
13,13,Ford High School,District,2739,1763916,77.102592,80.746258
14,14,Thomas High School,Charter,1635,1043130,83.418349,83.848930

In [30]:
per_passing_math

0                       NaN
1                       NaN
2                       NaN
3                       NaN
4                       NaN
5                       NaN
6                       NaN
7                       NaN
8                       NaN
9                       NaN
10                      NaN
11                      NaN
12                      NaN
13                      NaN
14                      NaN
Bailey High School      NaN
Cabrera High School     NaN
Figueroa High School    NaN
Ford High School        NaN
Griffin High School     NaN
Hernandez High School   NaN
Holden High School      NaN
Huang High School       NaN
Johnson High School     NaN
Pena High School        NaN
Rodriguez High School   NaN
Shelton High School     NaN
Thomas High School      NaN
Wilson High School      NaN
Wright High School      NaN
dtype: float64

In [21]:
per_passing_reading

0     1152.211176
1     1139.708376
2     1908.574673
3      725.134844
4     2289.509537
5     1472.185721
6     1808.934338
7      675.442122
8     7871.194379
9     3493.762994
10    1867.222222
11     840.460115
12     705.944129
13    1227.090179
14    2055.657492
Name: size, dtype: float64

In [22]:
overall_passing

0     1079.533768
1     1067.819600
2     1788.188529
3      679.395901
4     2145.095368
5     1379.325449
6     1694.833154
7      632.837621
8     7374.707260
9     3273.388773
10    1749.444444
11     787.446862
12     661.415669
13    1149.689668
14    1925.993884
Name: size, dtype: float64